<html lang="en">
    <%- include('./partials/styles.ejs') %>
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>

        <h1>Dashboard</h1>
        
        <h4>Hello <%= username %></h4>
        
        <a href="/logout">Logout</a>
      
        </body>
    <%- include('./partials/foot.ejs') %>
</html>
